<div id="subreddit-header"></div>
<script>
	React.render(SubredditHeaderComponent, {
		subreddit: <%= @subreddit %>
	}),
	document.getElementById("subreddit-header")
</script>

<hr>

<div id="posts"></div>
<script>
	React.render(PostBriefListComponent, {
		posts: <%= @posts.html_safe %>
	}),
	document.getElementById("posts");
</script>




