<div id="user-summary"></div>

<script>
	React.render(
		React.createElement(UserSummaryComponent, {
			user: <%= "\"#{@user}\"" %>,
        
		}),
		document.getElementById("user-summary")
	);
</script>


