// Place all the styles related to the User controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* override */

.post-box {
  width: 100%;
  margin-top: 15px;

  border-style: solid;
  border-width: 1px;
  border-color: #DDDDDD;

  padding-top: 15px;
  padding-left: 15px;
  padding-bottom: 15px;
}

.post-head {
  margin-left: 10px;
}

.post-title {
  font-size: 3em;
  font-weight: bold;
  margin-bottom: 0px;
  margin: 0px;
  p {
    margin-bottom: 0px;
  }
}

.post-body {
  margin-top: 25px;
  font-size: 1.5em
}

.creation-date {
  margin: 0px;
  font-size: 0.8em;
}
